.addinner {
    display: flex;
    justify-content:center;
    max-width: 600px;
    background: #ffffff;
    padding-top: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.07);
    padding-bottom: 50px;
    position: fixed;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.318);
    height: 200px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 80px;
}
.additem{
    padding-top: 20px;
    width: 90%;
}
.additem input{
    max-width: 550px;
    width: 100%;
    max-height: 1px;
    border-radius: 1px;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    padding-top: 20px;
    padding-bottom:20px ;
    border-color: rgba(56, 55, 55, 0.07);
    font-size: 20px;
}


.additem input:focus{
    outline: 0;
    background: rgba(218, 223, 245, 0.15);
    transition: 0.5s ease-in-out;
}
.additemchild{
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}
.additemchilditems input{
    width: 70%;
    font-size: 15px;
}
.addbtn{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.input__absence{
    border-color: rgba(247, 3, 3, 0.858) !important;
}
