.datalist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}
.datalistprobbtn{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.datalistinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.datalistitems {
    padding-right: 10px;
}
.datalistitems h3{
    color: #565252;
    font-size: medium;
    font-weight: bold;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.wardatabtn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
